html {
  height: 100%;
  box-sizing: border-box;
}

/*HEADER*/

h1 {
    margin: 5px;
    color: white;
}

/*BACKGROUND*/

body {
    background: url(sky-normal-web.png) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    margin: 0;
    min-height: 100%;
}

.body {
    text-align: center;
}

#jsonInfo {
    margin-top: 15px;
    margin-bottom: 45px;
}

.weekDay {
    margin-top: 15px;
}

/*NAV + FOOTER*/

.footer,
.navbar {
    background-color: #FF8C00;
}

/*FOOTER*/

.footer {
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.text-center {
    color: white;
}
